/*boxes*/
/*------------------------------------------*/
.box { position: relative; }
.box-container-wide { margin: 0 auto; clear: left; overflow: visible; padding: 0;; padding-left: 0 !important; padding-right: 0 !important;}
