.header-bottom {
    background: url(/assets/images/blurry-circles.png) no-repeat 0 0 transparent;
    min-height:640px;
}

.parallax-wrapper {
    z-index:0;
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.para-item-wrapper {
    width: 100%;
    height: 100%;
}

.para-item-wrapper .item {
    width: 300px;
    height: 300px;
    opacity: 0.1;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    position: absolute;
}

.para-item-wrapper .item2 {
    width: 150px;
    height: 150px;
    opacity: 0.1;
    left: calc(65% - 10px);
    top: calc(50% - 250px);
    position: absolute;
    margin-left: 5%;
}

.para-item-wrapper .item3 {
    width: 80px;
    height: 80px;
    opacity: 0.3;
    left: calc(50% - 300px);
    top: calc(50% - 10px);
    position: absolute;
    margin-left: 10%;
}

.para-item-wrapper .item4 {
    width: 60px;
    height: 60px;
    opacity: 0.2;
    left: calc(50% - 300px);
    top: calc(50% - 10px);
    position: absolute;
    margin-left: 10%;
}

.para-item-wrapper .item5 {
    width: 200px;
    height: 200px;
    opacity: 0.1;
    left: calc(50% - 745px);
    top: calc(50% - -59px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item6 {
    width: 60px;
    height: 60px;
    opacity: 0.3;
    left: calc(75% - 75px);
    top: calc(60% - 60px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item7 {
    width: 40px;
    height: 40px;
    opacity: 0.2;
    left: calc(70% - 10px);
    top: calc(50% - 10px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item8 {
    width: 700px;
    height: 700px;
    opacity: 0.02;
    left: calc(5% - 350px);
    top: calc(50% - 500px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item9 {
    width: 140px;
    height: 40px;
    opacity: 0.2;
    left: calc(0% - 10px);
    top: calc(65% - 10px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item10 {
    width: 800px;
    height: 800px;
    opacity: 0.01;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item11 {
    width: 250px;
    height: 250px;
    opacity: 0.05;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    position: absolute;
    margin-left: 10%;
}


