.header-bottom {
    background: url(/assets/images/blurry-circles.png) no-repeat 0 0 transparent;
    min-height:640px;
}

.parallax-wrapper {
    z-index:0;
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.para-item-wrapper {
    width: 100%;
    height: 100%;
}

.para-item-wrapper .item {
    width: 300px;
    height: 300px;
    opacity: 0.1;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    position: absolute;
}

.para-item-wrapper .item2 {
    width: 150px;
    height: 150px;
    opacity: 0.1;
    left: calc(65% - 10px);
    top: calc(50% - 250px);
    position: absolute;
    margin-left: 5%;
}

.para-item-wrapper .item3 {
    width: 80px;
    height: 80px;
    opacity: 0.3;
    left: calc(50% - 300px);
    top: calc(50% - 10px);
    position: absolute;
    margin-left: 10%;
}

.para-item-wrapper .item4 {
    width: 60px;
    height: 60px;
    opacity: 0.2;
    left: calc(50% - 300px);
    top: calc(50% - 10px);
    position: absolute;
    margin-left: 10%;
}

.para-item-wrapper .item5 {
    width: 40px;
    height: 40px;
    opacity: 0.1;
    left: calc(50% - 550px);
    top: calc(50% - 140px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item6 {
    width: 60px;
    height: 60px;
    opacity: 0.3;
    left: calc(75% - 75px);
    top: calc(60% - 60px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item7 {
    width: 40px;
    height: 40px;
    opacity: 0.2;
    left: calc(70% - 10px);
    top: calc(50% - 10px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item8 {
    width: 30px;
    height: 40px;
    opacity: 0.1;
    left: calc(5% - 20px);
    top: calc(13% - 20px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item9 {
    width: 140px;
    height: 40px;
    opacity: 0.2;
    left: calc(0% - 10px);
    top: calc(65% - 10px);
    position: absolute;
    margin-left: 10%;
}


/*title items*/
.para-item-wrapper .item10 {
    width: 140px;
    height: 40px;
    opacity: 0.3;
    left: calc(50% - 247px);
    top: calc(50% - 338px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item11 {
    width: 140px;
    height: 40px;
    opacity: 0.3;
    left: calc(50% - 195px);
    top: calc(50% - 338px);
    position: absolute;
    margin-left: 10%;
}
.para-item-wrapper .item12 {
    width: 140px;
    height: 40px;
    opacity: 0.3;
    left: calc(50% - 95px);
    top: calc(50% - 338px);
    position: absolute;
    margin-left: 10%;
}

@media only screen and (max-width: $mobile) {
.para-item-wrapper .item10 {left: calc(50% - 179px);top: calc(50% - 303px);}
.para-item-wrapper .item11 {left: calc(50% - 100px);top: calc(50% - 303px);}
.para-item-wrapper .item12 {left: calc(50% - 30px);top: calc(50% - 303px);}
}
@media only screen and (max-width: $tablet) {
.para-item-wrapper .item10 {left: calc(50% - 192px);top: calc(50% - 303px);}
.para-item-wrapper .item11 {left: calc(50% - 143px);top: calc(50% - 303px);}
.para-item-wrapper .item12 {left: calc(50% - 40px);top: calc(50% - 303px);}
}
/*title items*/


.para-item-wrapper .item13 {
    width: 250px;
    height: 250px;
    opacity: 0.6;
    left: calc(0% - 10px);
    top: calc(65% - 10px);
    position: absolute;
    margin-left: 10%;
}


