
/*monitor*/

.monitor-scroll {
    position: relative;
    background: url(/assets/images/monitor.png) no-repeat center center transparent;
    height: 0;
    padding-bottom: 76%;
    width: 100%;
    background-size: contain;
}

.monitor-scroll .monitor-scroll-inner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 4%;
    width: calc(100% - 8%);
    height: calc(100% - 31%);
    overflow: hidden;
}

.monitor-scroll .monitor-scroll-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

.monitor-scroll:hover .monitor-scroll-inner img {
    top: -890%;
}

/*laptop*/

.laptop-scroll {
    position: relative;
    background: url(/assets/images/samples/laptop2.png) no-repeat center center transparent;
    height: 0;
    padding-bottom: 60%;
    width: 100%;
    background-size: contain;
}

.laptop-scroll .laptop-scroll-inner {
    position: absolute;
    top: 0;
    left: 7%;
    margin: 4%;
    width: calc(100% - 23%);
    height: calc(100% - 19%);
    overflow: hidden;
}

.laptop-scroll .laptop-scroll-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

.laptop-scroll:hover .laptop-scroll-inner img {
    top: -800%;
}

/*tablet*/

.tablet-scroll {
    position: relative;
    background: url(/assets/images/samples/tablet3.png) no-repeat center center transparent;
    height: 0;
    padding-bottom: 76%;
    width: 100%;
    background-size: contain;
}

.tablet-scroll .tablet-scroll-inner {
    position: absolute;
    top: 0;
    left: 19%;
    margin: 8%;
    width: calc(100% - 54%);
    height: calc(100% - 22%);
    overflow: hidden;
}

.tablet-scroll .tablet-scroll-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

.tablet-scroll:hover .tablet-scroll-inner img {
    top: -330%;
}

/*mobile*/

.mobile-scroll {
    position: relative;
    background: url(/assets/images/samples/mobile3.png) no-repeat center center transparent;
    height: 0;
    padding-bottom: 53%;
    width: 100%;
    background-size: contain;
}

.mobile-scroll .mobile-scroll-inner {
    position: absolute;
    top: 0;
    left: 30%;
    margin: 9%;
    width: calc(100% - 77%);
    height: calc(100% - 34%);
    overflow: hidden;
}

.mobile-scroll .mobile-scroll-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

.mobile-scroll:hover .mobile-scroll-inner img {
    top: -270%;
}
